<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Organizer.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SyvopliasDb" providerName="System.Data.SqlClient" connectionString="Server=VM-DS1\MSSQLSERVER2012;Database=Syvoplias_DB;User Id=Syvoplias;Password=12345;" />
    <add name="HomeDb" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS;Database=HomeDB;Trusted_Connection=Yes;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <Organizer.UI.Properties.Settings>
      <setting name="InHomework" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsUserLoggedIn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UserLogin" serializeAs="String">
        <value />
      </setting>
      <setting name="UserPassword" serializeAs="String">
        <value />
      </setting>
    </Organizer.UI.Properties.Settings>
  </userSettings>
</configuration>